*{
  margin: 0;
  padding: 0;
}
body{
  color:white;
  background-color: black;
  background-image: url(imagens/hamb.jpg);
  background-size: cover;
}
.cabe{
  height: 150px;
  background-color: red;
  width: 100%;
}
.menu1{
margin-left: 35%;
margin-top: -6%
}
.menu{
list-style:none;
float:left;
}
.menu li{
position:relative;
float:left;
}
.menu li a{color:white; text-decoration:none; padding:5px 10px; display:block;}

.menu li  ul{
position:absolute;
top:25px;
left:0;
display:none;
}
p{
  font-size:50px;
  text-align: center;
}
.paises1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
 margin-top: 60px;
}
.paises2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  margin-top: 90px
}
