*{
  margin: 0;
  padding: 0;
}
body{
  color:white;
  background-color: black;
  background-image: url(imagens/fundo4.jpg);
  background-size:cover;
}
.cabe{
  height: 150px;
  background-color: red;
  width: 100%;
}
.menu1{
margin-left: 35%;
margin-top: -6%
}
.menu{
list-style:none;
float:left;
}
.menu li{
position:relative;
float:left;
}
.menu li a{color:white; text-decoration:none; padding:5px 10px; display:block;}

.menu li  ul{
position:absolute;
top:25px;
left:0;
display:none;
}
p{
  font-size:80px;
  text-align: center;
}
